//- index.jade
extends ./layout.jade

block vars
  - var title = 'Talk to The Imp'
block main-content
    script.
      var user = '!{user}'
    header#mnsTest
      div.header-content
        div.header-content-inner
          h1 Watson Conversation Demonstrations
          h3 Brought to you by The Imp
          a.btn.btn-primary.btn-lg#enter Enter
