//- register.jade
extends ./layout.jade

block vars
  - var title = 'Login'
block main-content
  div.container#mnsfade(style="height:100%")
    script.
      document.getElementById('mnsfade').className += ' fade-out'
    div.page-header
      include ./includes/messages.jade
    div.row
      //- some space
      div.form-group &nbsp;
      div.form-group &nbsp;
      form.form-horizontal(method='POST')
        div.col-sm-4.col-sm-offset-4
          div.form-group
            input.form-control(type="hidden", name="_csrf", value=csrfToken)
            input.form-control(type="email", name="email", placeholder="email", required="true")
          div.form-group
            input.form-control(type="password", name="password", placeholder="password", required="true")
          div.form-group.text-center
            button.btn.btn-primary.btn-lg(type="submit") Log in
