{
  "version" : "1.2.0",
  "LOG_LEVEL" : "debug",
  "authenticationDB": "auth-dev",
  "home_page": "/debug",
  "mailer" : {
    "url": "smtps://xxx%40gmail.com:xxxx@smtp.gmail.com",
    "admin": "anon"@anon.com"
  },
  "VCAP_SERVICES": {
    "cloudantNoSQLDB" : [ {
      "name" : "xxxx",
      "label" : "cloudantNoSQLDB",
      "plan" : "Shared",
      "credentials" : {
        "username" : "uuuu-bluemix",
        "password" : "pppp",
        "host" : "uuuu-bluemix.cloudant.com",
        "port" : 443,
        "url" : "https://uuuu-bluemix:pppp@uuuu-bluemix.cloudant.com"
      }
    } ]
  }
}
