{
  "version" : "1.2.0",
  "LOG_LEVEL" : "info",
  "authenticationDB": "auth",
  "home_page": "/debug",
  "mailer" : {
    "url": "smtps://xxx%40gmail.com:xxxx@smtp.gmail.com",
    "admin": "anon"@anon.com"
  },
}
